:root {
    --primary-color: #f7b100;
    --primary-opacity: #f7b1008a;
    --secondary-color: #848484;
    --acent-color: #f9762f;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#vehicles .card, .card img{
    max-height: 170px;
}

.people{
    background: var(--primary-color);
}

a, #companyPolicy button {
    color: #084298;
    text-decoration: none;
}

a:hover, #companyPolicy button:hover {
    color: var(--primary-color);
}

#navbar {
    background: var(--primary-color) !Important;
}

.navbar-nav .nav-link{
    border-bottom: var(--secondary-color) solid;
    border-bottom-width: 0;
    transition: 0.1s ease-in-out;
    width: fit-content;
}

.navbar-nav .active{
    border-bottom: var(--acent-color) solid;
    border-bottom-width: 3px;
}

.navbar-nav a {
    position: relative;
    display: block;
}

.navbar-nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navbar-nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-toggler:focus {
    box-shadow: none;
    width: 50px;
}

#navIcon {
    color: #0000001a;
}

article p, .card p{
    text-align: justify;
}

#map {
    height: 500px;
}

#mailUs p {
    text-align: justify;
}

form .form-control:focus, form .form-check-input:focus, .btn:focus {
    border-color: var(--primary-opacity);
    box-shadow: 0 0 0 0.2rem rgba(255, 199, 7, .22);
}

.form-check-input {
    border: 2px solid var(--primary-color);
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-ppal {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 6px 30px;
    text-align: center;
}

.btn-ppal:hover {
    background-color: #0f6239cc;
    color: #000000;
}

.btn-outline {
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 6px 30px;
    text-align: center;
}

.btn-outline:hover {
    color: #000000;
    background: var(--primary-color);
}

footer {
    background: var(--secondary-color) !Important;
    color: #000000;
}

.footer-bar nav {
    background: var(--primary-color);
    box-shadow: 3px 3px 3px #424242;
    color: #000000;
}

.nit:before {
    content: '|';
    margin-right: 8px;
}

footer h5 {
    color: #ffffff;
}

footer img{
    max-width: 240px !important;
}

.socialNetwork {
    color: #03359e;
}

.socialNetwork:hover {
    color: var(--primary-color);
}

/* Move page Top*/
.goTop {
    display: none;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #f7b1009c !important;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.goTop:hover{
    color: #f9762f9c !important;
}
